<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable Generic.WhiteSpace.ScopeIndent.IncorrectExact
// phpcs:disable Magento2.Security.LanguageConstruct.DirectOutput
?>
<?php
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $block->getImage()->getUrl($_category)) {
        $_imgHtml = '<div class="category-image" style="display: none;"><img src="'
            . $block->escapeUrl($_imgUrl)
            . '" alt="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" title="'
            . $block->escapeHtmlAttr($_category->getName())
            . '" class="image" /></div>';
        $_imgHtml = $block->getOutput()->categoryAttribute($_category, $_imgHtml, 'image');
        /* @noEscape */ echo $_imgHtml;
    }
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
$subcats = $category->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>

<div class="widgetplus widgetplus-block slider-0 lazyloaded" id="widgetplus-block-3283830997">
    <div class="block-static clearfix">
        <div class="top-cat-row top-cat-layout04">
<!--             <div class="main-heading">
                <h2 class="heading-title text-center"><span>Shop By Category</span></h2>
            </div> -->
            <div class="block-static">
                <div class="row justify-content-center">

                    <?php
                    foreach ($subcats as $subcat) {
                        $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                        $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
                        $subcaturl = $subcat->getUrl();  
                        $_imgUrl = $_category->getImageUrl();
                        if(!empty($_imgUrl)){
                            $getimg=$_imgUrl;
                        }else{
                            $getimg=$block->getBaseUrl()."pub/media/wysiwyg/catimg.jpeg";
                        }
                        $catename = $subcat->getName(); 

                        $posname=substr($catename,0,60); ?>

                    <div class="col-6 col-md-3 col-lg-2 tp-xl-8-col">
                        <div class="top-cat-item"><a href="<?php echo $subcaturl; ?>"><span class="img-lazy-wrap lazyloaded-wrap" style="padding-bottom: 100%;"><img class="media-lazy lazyloaded" src="<?php echo $getimg; ?>" alt="" width="168" height="168"></span></a>
                        <h3 class="title"><a href="<?php echo $subcaturl; ?>"><?php echo $posname; ?></a></h3>
                        </div>
                    </div>

                    <?php } ?>

                </div>
            </div>
        </div>            
    </div>
</div>

<!-- <div class="owl-carousel owl-theme owl-img-responsive" style="margin-bottom: 30px;">
    <?php /*
    foreach ($subcats as $subcat) {
            $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
            $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
            $subcaturl = $subcat->getUrl();  
            $_imgUrl = $subcat->getImageUrl();
            $catename = $subcat->getName(); ?>

            <div class="item"><span><img src="http://albiraq.kasme.com/media/wysiwyg/magebig/layout04/cat-04.jpg"></span><span><a href="<?php echo $subcaturl; ?>"><?php echo $catename; ?></a></span></div>

   <?php } */ ?>
</div> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script type="text/javascript">

    require([
        'jquery',
        'mage/mage'
    ], function ($) {

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:4
        },
        1000:{
            items:6
        }
    }
})


    });
</script> -->
