<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var \Magento\Customer\Block\Account\AuthenticationPopup $block */ ?> <div id="authenticationPopup" style="display: none;"><script>
        window.authenticationPopup = <?= /* @noEscape */ $block->getSerializedConfig() ?>;</script></div>