<?php /** * Copyright © magebig.com - All rights reserved. * See LICENSE.txt for license details. */ ?> <button type="button" class="action back customization"><span><?= /* @escapeNotVerified */ __('Go back to product details') ?></span></button>