<?php
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $mbHelper = $this->helper('MageBig\MbFrame\Helper\Data'); ?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>

<?php if ($mbHelper->isHomePage()):?>
    <h1 class="logo text-hide">
<?php else: ?>
    <div class="logo text-hide">
<?php endif ?>
    <a href="<?= $block->getUrl(''); ?>" title="<?= /* @escapeNotVerified */ $storeName ?>">
        <strong><?= /* @escapeNotVerified */ $block->getLogoAlt() ?></strong>
        <img class="img-fluid" src="<?= /* @escapeNotVerified */ $block->getLogoSrc() ?>"
             alt="<?= /* @escapeNotVerified */ $block->getLogoAlt() ?>"
             <?= $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?= $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
    </a>
<?php if ($mbHelper->isHomePage()):?>
    </h1>
<?php else:?>
    </div>
<?php endif?>
<style type="text/css">
.header-maininner-row .vertical-menu .magebig-nav > li.level0:hover > a.level-top {
    background-color: #000;
    color: #fff;
}

.column .product.info.detailed .item.content {
    display: block;
    padding-top: 10px;
}

.language-topbar.switcher .lang-list ul {
    padding: 0px 0px;
}

#social-login-popup .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    text-align: center;
}

.login-container button.action, .form.password.reset button.action, .form.send.confirmation button.action, .form.password.forget button.action {
    display: block;
}

.billing_notinlist {
    display: none;
}

#myModal .modal-content {
    width: 42%;
    text-align: center;
}

.gm-style-iw-d .map-short-info {
    padding: 10px 10px 10px 10px;
}

.layout-rtl .intl-tel-input.allow-dropdown .flag-container, .layout-rtl .intl-tel-input.separate-dial-code .flag-container {
    left: auto;
    right: 0;
}

.layout-rtl .intl-tel-input.allow-dropdown input[type="tel"]{
    padding-right: 45px;
    padding-left: 0px;
}

.layout-rtl .intl-tel-input.allow-dropdown input{
    padding-right: 45px !important;
    padding-left: 0px;
}

.cart .item-info .product-item-photo .product-image-container {
    margin-bottom: 10px;
}

.intl-tel-input.allow-dropdown input[type="text"]{
    padding-right: 0px;
    padding-left: 45px;
}

.layout-rtl .intl-tel-input .selected-flag .iti-flag {
    right: 15px;
}

.current .page span {
    color: #fff;
}

.pages-items .item a:hover {
    color: #fff;
}

.account-nav .item {
    border-bottom: 1px solid #fff;
}
.autocomplete-suggestions .suggestion-right {
    width: 80%;
    padding-left: 30px;
}
.autocomplete-suggestions .product-line {
    margin-bottom: 5px;
    color: #000;
}
.top-search-wrap .minisearch .loading-mask{
    padding-top: 35px;
}
.opc-wrapper #shipping-new-address-form .field.custom-class-country._required {
    flex: 0 0 100%;
    max-width: 100%;
}
#co-shipping-form #shipping-new-address-form .field.admin__control-fields.required {
    flex: 0 0 100%;
    max-width: 100%;
}
.widget-product .owl-carousel .product-item {
    border: none;
    padding: 10px;
}
.row .block-cat-product .owl-carousel .owl-item {
    border: none;
}
#wishlist-view-form .actions-toolbar .action.primary.share {
    display: none;
}
.product-item-name .product-item-link {
    color: #000;
}
.mbi.mbi-heart {
    color: #e0648d;
}
.product-items .product-item .product-btn {
    margin: 0px 0px;
    padding: 0px;
    width: auto;
}
.col-sm-3.btn-wishlist {
    flex: 0 0 25%;
    max-width: 25%;
}
.top-search-wrap .block-search #search_mini_form {
    width: 470px;
}
.product-item-info {
    padding: 0 0px;
    border: 1px solid #dee2e6;
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
}
.product-btn .mbi {
    font-weight: bold;
}

.block.social-login-authentication-channel .block-content {
    width: 100%;
}

.country.preferred {
    display: none;
}

.country-list .divider {
    display: none;
}

.social-login .block.social-login-authentication-channel a.btn-block.btn-social.btn-facebook {
    width: 100% !important;
    border-radius: 0px !important;
    font-size: 14px;
    padding-top: 10px !important;
}

.social-login .block.social-login-authentication-channel a.btn-block.btn-social.btn-google {
    width: 100% !important;
    border-radius: 0px !important;
    font-size: 14px;
    padding-top: 10px !important;
}

.block.social-login-authentication-channel .block-content {
    margin-top: 25px;
}

.product-item .product-item-name {
    height: 35px;
    padding: 0px 10px 0px 10px;
}
#footer-widgets .footer-main {
    padding-bottom: 0px;
}
.product-item .details .price-wrap {
    /*padding: 0px 10px 0px 10px;*/
}
.mega_fullwidth .col12-12 {
    padding: 0 0px;
}
.mega_fullwidth .level0.submenu.show-sub {
    padding: 0px;
}
.cart .product-item-name a {
    color: #000 !important;
}
.magebig-nav li.level0 .submenu ul li:hover {
    border-top: none;
    background-color: #000;
    color: #fff;
}
.vertical-menu .magebig-nav > li > i:hover {
    color: #fff;
}
.category-item.level0.nav-1.level-top.mega_fullwidth.parent:hover {
    color: #fff;
}
.align-items-center .vertical-menu .magebig-nav > li a:hover {
    background-color: #000;
    color: #fff;
}
.price-box.price-final_price {
    padding: 0px 10px 0px 10px;
}
.top-cat-item .title {
    height: 45px;
    line-height: normal;
    overflow: hidden;
}
.layout-rtl .cart.table-wrapper .actions-toolbar > .action-edit{
    left: 45px;
    right: auto;
}
.layout-rtl .cart.table-wrapper .action {
    margin-right: 0px;
}
.top-cat-item .img-lazy-wrap.lazyloaded-wrap {
    border-radius: 10px;
}
.mfp-content #social-login-popup .block-container .block .block-title {
    margin-top: 0px;
}
.top-cat-row .top-cat-item {
    border: none;
    margin-bottom: 15px;
}
.top-cat-row .top-cat-item .title a {
    font-size: 14px;
}
.navigation .smartmenu .level0.mega_left.parent:hover {
    color: #fff;
    background: #000;
}
.magebig-nav li ul.level0 span {
    white-space: normal;
    /*padding: 0px 0px 0px 15px;*/
}
.magebig-nav .simple-dropdown ul.level0 li a {
    border-bottom: none;
    padding: 10px 0px 10px 15px;
}
.simple-dropdown .show-sub-content .col12-12 {
    padding: 0 0px;
}
.mb-navigation .navigation .magebig-nav .simple-dropdown ul.level0 li {
    /*padding: 5px 5px 4px 15px;*/
    border-bottom: 1px solid #e5e5e5;
}

.layout-rtl .navigation .magebig-nav .simple-dropdown ul.level0 li {
    padding: 0px 10px 0px 0px;
}
.product-items .product-item .product-btn {
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
    position: initial;
}
.col.add-to-cart-button {
    background-color: #000;
}
.col-sm-9.add-to-cart-button {
    background-color: #000;
}
.col-sm-3.btn-wishlist {
    background-color: #eee;
}
.product-item-info .product-btn button:hover .mbi, .product-item-info .product-btn a:hover .mbi {
    background-color: #eee;
    color: #000;
}
.navigation .magebig-nav .itemgrid ul.level0 {
    margin: 0 0px;
}
.navigation .magebig-nav .simple-dropdown ul.level0 li {
    padding: 0px 0px;
}
.align-items-center .vertical-menu .magebig-nav > li a:hover {
    background-color: #000;
    color: #fff;
}
.catalog-category-view .main-container .page-title {
    text-align: left;
}
.layout-rtl.catalog-category-view .main-container .page-title {
    text-align: right;
}
.cart-container .cart.table-wrapper .actions-toolbar > .action-edit, .cart-container .cart.table-wrapper .actions-toolbar > .action-delete {
    bottom: 5px;
}
.checkout-cart-index .page-title-wrapper .page-title {
    text-align: left;
}

#social-login-popup .fieldset {
    padding-bottom: 0px;
}

.cms-index-index .owl-carousel .product-reviews-summary.short.no-rating {
    display: none;
}

@media only screen and (max-width:768px){
.cart-container .cart.table-wrapper .actions-toolbar > .action-edit, .cart-container .cart.table-wrapper .actions-toolbar > .action-delete {
    bottom: auto;
}
.cart .gift-options-cart-item + .action-towishlist {
    left: 0px;
    position: absolute;
}

.column #myModal .modal-content {
    width: 100%;
    text-align: center;
}

.column .login-container .fieldset, .column .form.password.reset .fieldset, .column .form.send.confirmation .fieldset, .column .form.password.forget .fieldset {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: 2px;
    padding: 0px;

    }

}


</style>
