<?php
/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
$customClass = "ajaxlogin-login";
if ($block->isLoggedIn()) {
	$dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
	$customClass = "logoutajax";
}
?>
<li class="authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?> class="<?php echo $customClass ?>">
        <?php echo $block->escapeHtml($block->getLabel());
		?>
    </a>
</li>

<!-- <li class="authorization-link" data-label="or"><a id="linkid" href="javascript:void(0)" class="ajaxlogin-login" onclick="doLogin()">
	<i class="icon-users lnr lnr-user"></i></a></li>
<li><a href="javascript:void(0)" class="registerlink" onclick="doRegister()">Register</a></li> -->



