<?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
<?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
<?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
<?php $cityHelper = $this->helper('Magecomp\Cityandregionmanager\Helper\Data'); ?>
<?php $asset = $cityHelper->assetRepository->createAsset('images/loader-2.gif');  ?>

<div class="loading-mask" data-role="loader" style="display: none;">
    <div class="loader">
        <img alt="Loading..." src="<?php echo $asset->getUrl(); ?>">
        <p>Please wait...</p>
    </div>
</div>
<form class="form-address-edit"
      action="<?= $block->escapeUrl($block->getSaveUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Contact Information')) ?></span></legend><br>
        <?= $block->getBlockHtml('formkey') ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
        <?= $block->getNameBlockHtml() ?>

        <?php if ($_company->isEnabled()) : ?>
            <?= $_company->setCompany($block->getAddress()->getCompany())->toHtml() ?>
        <?php endif ?>

        <?php if ($_telephone->isEnabled()) : ?>
            <?= $_telephone->setTelephone($block->getAddress()->getTelephone())->toHtml() ?>
        <?php endif ?>

        <?php if ($_fax->isEnabled()) : ?>
            <?= $_fax->setFax($block->getAddress()->getFax())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend><br>
        <div class="field country required">
            <label class="label" for="country"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>
        <div class="field region required">
            <label class="label" for="region_id">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
            </label>
            <div class="control">
                <?php if(!$cityHelper->getSates() || !$cityHelper->isModuleEnabled()){ ?>
                    <select id="region_id" name="region_id"
                            title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                            class="validate-select region_id" <?= /* @noEscape */ !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>>
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                        <?php foreach($cityHelper->getSates() as $sates ){ ?>
                            <option value="<?= $sates['states_name'] ?>"><?= $sates['states_name'] ?></option>
                        <?php } ?>
                    </select>
                    <input type="text"
                           id="region"
                           name="region"
                           value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                           class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>"<?= !$block->getConfig('general/region/display_all') ? ' disabled="disabled"' : '' ?>/>
                <?php }else{ ?>
                <select id="region_id1" name="region"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="validate-select region_id" style="display: block" >
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    <?php foreach($cityHelper->getSates() as $sates ){ ?>
                        <?php if($block->escapeHtmlAttr($block->getRegion() == $sates['states_name'])){ ?>
                            <option value="<?= $sates['states_name'] ?>" selected><?= $sates['states_name'] ?></option>
                        <?php }else { ?>
                            <option value="<?= $sates['states_name'] ?>"><?= $sates['states_name'] ?></option>
                        <?php } ?>
                    <?php } ?>
                    <?php } ?>
                </select>
            </div>
        </div>
        <?php if ($this->helper(\Magento\Customer\Helper\Address::class)->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label" for="vat_id">
                    <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?></span>
                </label>
                <div class="control">
                    <input type="text"
                           name="vat_id"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getVatId()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('vat_id') ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('vat_id')) ?>"
                           id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <div class="field city required">
            <label class="label" for="city"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
            <div class="control">
                <?php if(!$cityHelper->getSates() || !$cityHelper->isModuleEnabled()){ ?>
                    <input type="text"
                           name="city"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>"
                           title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                           class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>"
                           id="city">
                <?php }else{ ?>
                    <select name="city" title="<?= $block->escapeHtmlAttr(__('City')) ?>"
                            class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>"
                            id="city">
                        <option value=""><?= $block->escapeHtml(__('Please select a city.')) ?></option>
                    </select>
                <?php } ?>
            </div>
        </div>
        <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span>
            </label>
            <?php /*
            <div class="control">
                <input type="text"
                       name="street[]"
                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                       title="<?=  $block->getAttributeData()->getFrontendLabel('street') ?>"
                       id="street_1"
                       class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>"/>
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i < $_n; $_i++) : ?>
                        <div class="field additional">
                            <label class="label" for="street_<?=  $_i + 1 ?>">
                                <span><?= $block->escapeHtml(__('Street Address %1', $_i + 1)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?= $block->escapeHtmlAttr($block->getStreetLine($_i + 1)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i + 1)) ?>"
                                       id="street_<?=  $_i + 1 ?>"
                                       class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>*/?>
        </div>

 <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
        <legend class="legend"><span><?= $block->escapeHtml(__('Address')) ?></span></legend><br>
        <div class="field street required">
            <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
            <div class="control"> 

            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <div class="field additional required" style="margin-top: 15px;">
                            <label class="label" for="street_2">
                                <span><?= $block->escapeHtml(__('Block')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(1)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Block')) ?>"
                                       id="street_1"
                                       class="input-text" <?= $block->escapeHtmlAttr($_streetValidationClass) ?>>
                            </div>
                        </div> 


                        <div class="field additional required" style="margin-top: 15px;">
                            <label class="label" for="street_2">
                                <span><?= $block->escapeHtml(__('Street')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(2)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Street')) ?>"
                                       id="street_1"
                                       class="input-text" <?= $block->escapeHtmlAttr($_streetValidationClass) ?>>
                            </div>
                        </div> 

                <div class="nested"> 
                        <div class="field additional required">
                            <label class="label" for="street_3">
                                <span><?= $block->escapeHtml(__('Flat no/Floor/Notes')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="street[]"
                                       value="<?= $block->escapeHtmlAttr($block->getStreetLine(3)) ?>"
                                       title="<?= $block->escapeHtmlAttr(__('Flat no/Floor/Notes')) ?>"
                                       id="street_3"
                                       class="input-text" <?= $block->escapeHtmlAttr($_streetValidationClass) ?>>
                            </div>
                        </div> 
                </div>
            </div>
        </div>


        <div class="field zip">
            <label class="label" for="zip">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
            </label>
            <div class="control">
                <?php if(!$cityHelper->getSates() || !$cityHelper->isModuleEnabled()){ ?>
                    <input type="text"
                           name="postcode"
                           data-validate="{required:true}"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                           id="zip"
                           class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                <?php }else if (!$cityHelper->isZipcodeEnabled()){ ?>
                    <select type="text"
                            name="postcode"
                            data-validate="{required:true}"
                            value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                            title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                            id="zip"
                            class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                        <option value=""><?= $block->escapeHtml(__('Please select a zip code.')) ?></option>
                    </select>
                <?php } else { ?>
                    <input type="text"
                           name="postcode"
                           value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"
                           title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                           id="zipd"
                           class="input-text"
                          />
                <?php } ?>
                <div role="alert" class="message warning" style="display:none">
                    <span></span>
                </div>
            </div>
        </div>

        <?php if ($block->isDefaultBilling()) : ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default billing address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultBilling()) : ?>
            <div class="field choice set billing">
                <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                <label class="label" for="primary_billing">
                    <span><?= $block->escapeHtml(__('Use as my default billing address')) ?></span>
                </label>
            </div>
        <?php else : ?>
            <input type="hidden" name="default_billing" value="1" />
        <?php endif; ?>
        <?php if ($block->isDefaultShipping()) : ?>
            <div class="message info">
                <span><?= $block->escapeHtml(__("It's a default shipping address.")) ?></span>
            </div>
        <?php elseif ($block->canSetAsDefaultShipping()) : ?>
            <div class="field choice set shipping">
                <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                <label class="label" for="primary_shipping">
                    <span><?= $block->escapeHtml(__('Use as my default shipping address')) ?></span>
                </label>
            </div>
        <?php else : ?>
            <input type="hidden" name="default_shipping" value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action save primary"
                    data-action="save-address"
                    title="<?= $block->escapeHtmlAttr(__('Save Address')) ?>">
                <span><?= $block->escapeHtml(__('Save Address')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
    <input type="hidden" id="cityUrl" name="cityUrl" value="<?= $cityHelper->storeManager->getStore()->getUrl('magecomp_cityandregionmanager/ajax/getcities') ?>">
    <input type="hidden" id="stateUrl" name="stateUrl" value="<?= $cityHelper->storeManager->getStore()->getUrl('magecomp_cityandregionmanager/ajax/getstates') ?>">
    <input type="hidden" id="zipUrl" name="zipUrl" value="<?= $cityHelper->storeManager->getStore()->getUrl('magecomp_cityandregionmanager/ajax/getzip') ?>">
    <input type="hidden" id="selectstate" name="selectstate" value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>">
    <input type="hidden" id="selectcity" name="selectcity" value="<?= $block->escapeHtmlAttr($block->getAddress()->getCity()) ?>">
    <input type="hidden" id="selectzip" name="selectzip" value="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>">
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {
                "postCodes": <?= /* @noEscape */ $block->getPostCodeConfig()->getSerializedPostCodes(); ?>
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script>
    require([
            "jquery",
            "mage/url",
            "jquery/ui",
            'mage/translate',
            "domReady!"
        ],
        function($,url,fullScreenLoader) {
            function updateState()
            {
                var selected_country = $("#country").val();
                $("#region_id1").empty().append($('<option data-title="load" value="">'+$.mage.__('Load')+'...</option>'));
                $.ajax({
                    url: $('#stateUrl').val(),
                    type: 'post',
                    data: {'selected_country' : selected_country},
                    dataType: 'json',
                    beforeSend: function()
                    {
                        /!* Loader load  start *!/
                        $('.loading-mask').show();

                    },
                    success: function (data) {
                        if(data.request == 'OK') {
                            $("#region_id1").empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                            $.each(data.result, function() {
                                var select_region = "";
                                if($('#selectstate').val() == this.states_name)
                                    select_region="Selected";
                                $("#region_id1").append( $('<option data-title="'+this.states_name+'" value="'+this.states_name+'">'+this.customstate+'</option>'));
                            });

                        }else{
                            $("#region_id1").empty().append( $('<option data-title="'+data.result+'" value="">'+data.result+'</option>'));
                        }
                        $('.loading-mask').hide();
                    },
                    error: function (error) {
                        console.log(error);
                        $('.loading-mask').hide();
                    }
                });
            }
            if($('#region_id1').val())
            {
                $.ajax({
                    url: $('#cityUrl').val(),
                    type: 'post',
                    data: {'selected_state' : $('#region_id1').val()},
                    dataType: 'json',
                    beforeSend: function()
                    {
                        /!* Loader load  start *!/
                        $('.loading-mask').show();

                    },
                    success: function (data) {
                        if(data.request == 'OK') {
                            $('#city').empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                            $.each(data.result, function() {
                                if($('#selectcity').val() == this.cities_name)
                                {
                                    $('#city').append( $('<option selected data-title="'+this.cities_name+'" value="'+this.cities_name+'">'+this.customcity+'</option>'));
                                }
                                else{
                                    $('#city').append( $('<option data-title="'+this.cities_name+'" value="'+this.cities_name+'">'+this.cities_name+'</option>'));
                                }
                            });
                            /!* zip code load *!/
                            $.ajax({
                                url: $('#zipUrl').val(),
                                type: 'post',
                                data: {'selected_city' : $('#selectcity').val()},
                                dataType: 'json',
                                success: function (data) {
                                    if(data.request == 'OK') {
                                        $("#zip").empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                                        $.each(data.result, function() {
                                            if($('#selectcity').val() == this.zip_code) {
                                                $("#zip").append($('<option data-title="' + this.zip_code + '" value="' + this.zip_code + '">' + this.zip_code + '</option>'));
                                            }
                                            else{
                                                if(this.zip_code=="<?= $block->escapeHtmlAttr($block->getAddress()->getPostcode()) ?>"){
                                                    $("#zip").append($('<option selected data-title="' + this.zip_code + '" value="' + this.zip_code + '">' + this.zip_code + '</option>'));
                                                }else{
                                                    $("#zip").append($('<option data-title="' + this.zip_code + '" value="' + this.zip_code + '">' + this.zip_code + '</option>'));
                                                }
                                            }
                                        });
                                        $('.loading-mask').hide();
                                    }else{
                                        $("#zip").empty().append( $('<option data-title="'+data.result+'" value="'+data.result+'">'+data.result+'</option>'));
                                    }
                                    /!* Loader load stop *!/
                                    $('.loading-mask').hide();

                                },
                                error: function (error) {
                                    /!* Loader load stop *!/
                                    $('.loading-mask').hide();
                                    console.log(error);
                                }
                            });

                        }else{
                            $('#city').empty().append( $('<option data-title="'+data.result+'" value="'+data.result+'">'+data.result+'</option>'));
                        }
                    },
                    error: function (error) {
                        /!* Loader load stop *!/
                        $('.loading-mask').hide();
                        console.log(error);
                    }
                });
            }
            $('#region_id1').change(function(){
                if($(this).val() != ""){
                    $('#city').empty().append($('<option data-title="load" value="">'+$.mage.__('Load')+'...</option>'));
                }

                // var newva=$("#region_id1").val();
                // alert(newva);

                $.ajax({
                    url: url.build('magecomp_cityandregionmanager/ajax/getcities'),
                    type: 'post',
                    data: {'selected_state' : $(this).val()},
                    dataType: 'json',
                    success: function (data) {
                        if(data.request == 'OK') {
                            $('#city').empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                            $.each(data.result, function() {
                                $('#city').append( $('<option data-title="'+this.cities_name+'" value="'+this.cities_name+'">'+this.customcity+'</option>'));
                            });
                        }else{
                            $('#city').empty().append( $('<option data-title="'+data.result+'" value="">'+data.result+'</option>'));
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            $('#city').change(function(){
                var selected_city = $(this).val();
                $("#zip").empty().append($('<option data-title="load" value="">'+$.mage.__('Load')+'...</option>'));

                $.ajax({
                    url: url.build('magecomp_cityandregionmanager/ajax/getzip'),
                    type: 'post',
                    data: {'selected_city' : selected_city},
                    dataType: 'json',
                    success: function (data) {
                        if(data.request == 'OK') {

                            $("#zip").empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                            $.each(data.result, function() {
                                $("#zip").append( $('<option data-title="'+this.zip_code+'" value="'+this.zip_code+'">'+this.zip_code+'</option>'));
                            });

                        }else{
                            $("#zip").empty().append( $('<option data-title="'+data.result+'" value="">'+data.result+'</option>'));
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            });
            $('#country').change(function(){
                var selected_country = $(this).val();
                $("#region_id1").empty().append($('<option data-title="load" value="">'+$.mage.__('Load')+'...</option>'));

                $.ajax({
                    url: url.build('magecomp_cityandregionmanager/ajax/getstates'),
                    type: 'post',
                    data: {'selected_country' : selected_country},
                    dataType: 'json',
                    success: function (data) {
                        if(data.request == 'OK') {

                            $("#region_id1").empty().append( $('<option data-title="Please Select..." value="">'+$.mage.__('Please Select')+'...</option>'));
                            $.each(data.result, function() {
                                $("#region_id1").append( $('<option data-title="'+this.states_name+'" value="'+this.states_name+'">'+this.customstate+'</option>'));
                            });

                        }else{
                            $("#region_id1").empty().append( $('<option data-title="'+data.result+'" value="">'+data.result+'</option>'));
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
            updateState();
        });
</script>