<div class="payment-method tap" data-bind="css: {'_active': (getCode() == isChecked())}">
	<div class="payment-method-title field choice">
		<input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
		<label data-bind="attr: {'for': getCode()}" class="label">
			<span data-bind="text: getTitle()"></span>
		</label>
		 <!-- <img class="tap-logo" src="https://ecwid.gosell.io/cp/img/tap_payments.png"> -->
	</div>
	<div class="payment-method-content">
	  	<div>
			<input type="radio" id="payment_type" name="payment_type" value="CC" data-validate='{"required":true}' label="Credit Card" checked = "checked">Credit Card
		</div>
		<div data-bind="css:{ '_active':getcss()}">
			<form id="form-container" method="post" action="/charge">
				<div id="element-container">
				<div id="col-1-0" class="col-1">
					<div id="group-0" class="group"></div>
				</div><br>
				<div id="col-2-1" class="col-2" style="margin: -30px;">
					<div id="group-1" class="group"></div><br>
				</div>
				<div id="group-2" class="group"></div><br>
				<div id="col-1-3" class="col-1">
					<div id="group-3" class="group"></div>
				</div><br>
				
	  				<div id="error-handler" role="alert"></div>
	  				<div id="success" style="display: none;
visibility: hidden;">
					<span id="token"></span>
	  				</div>
						<button id="tap-btn" data-bind="visible: getbutton()" style="display: none;
visibility: hidden;">Submit</button>
				</div>
			</form>
		</div>
		<div style="margin: 60px 1px 1px 1px;">
			<input type="radio" id="payment_type" name="payment_type" value="charge_knet" data-validate='{"required":true}' label="KNET" data-bind="visible: getKnetAtCheckout()"><span data-bind="text:getKnet(),visible: getKnetAtCheckout() "></span>
		</div>
	
		<div>
			<input type="radio" id="payment_type" name="payment_type" value="benefit" data-validate='{"required":true}' label="Benefit" data-bind="visible: getBenefitAtCheckout()"><span data-bind="text:getbenefit(),visible: getBenefitAtCheckout() "></span>
		</div>
		<div>
			<!-- ko foreach: getRegion('messages') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
	   <br><br> <div class="payment-method-billing-address tap-address">
			<!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
		<div class="actions-toolbar">
			<div class="primary">
				<button class="action primary checkout"
						type="submit"
						data-bind="
						click: placeOrder,
						attr: {title: $t('Place Order')},
						css: {disabled: !isPlaceOrderActionAllowed()},
						enable: (getCode() == isChecked())
						"
						disabled>
						
					<span data-bind="i18n: 'Pay',"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<script>

   window.valuesConfig = '<?php /* @escapeNotVerified */ echo $block->getValuesConfig(); ?>'
</script>
<script>
	$('payment_type').css('background-image', 'url(' +  + ')');
</script>
