.magecomp-logo .title{background-image:url(https://www.magecomp.com/media/images/magecomp--extension.png)!important;background-size:150px 25px!important;background-repeat:no-repeat!important;background-position-y:center!important;background-position-x:5px!important;width:100%;height:53px!important}
.parent.item-magecompcityandregionmanager > a:before{ content: url("../img/magecomp.svg") !important; }