<?php /** * Copyright © magebig.com - All rights reserved. * See LICENSE.txt for license details. */ ?> <small class="copyright"><span class="f-left"><?= /* @escapeNotVerified */ $block->getCopyright() ?></span></small>