<?php /** * Copyright © magebig.com - All rights reserved. * See LICENSE.txt for license details. */ /** @var \Magento\Customer\Block\Form\Login $block */ ?> <div class="block block-customer-login"><div class="block-content"><form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'><?= $block->getBlockHtml('formkey') ?> <div class="block-title text-center"><span class="active title"><?= __('Log In') ?></span> <a class="title" href="<?= $block->getBaseUrl() ?>customer/account/create/"><?= __('Register') ?></a></div><fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"><div class="field email required"><div class="control"><input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" placeholder="<?= $block->escapeHtml(__('Email')) ?>"></div></div><div class="field password required"><div class="control"><input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}" placeholder="<?= $block->escapeHtml(__('Password')) ?>"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot?')) ?></span></a></div></div><?= $block->getChildHtml('form_additional_info') ?> <div class="actions-toolbar"><div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div></div></fieldset></form></div></div><script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "login-form"
            }
        }
    }</script>