<?php use \Magento\Framework\App\Bootstrap; include('app/bootstrap.php'); $bootstrap = Bootstrap::create(BP, $_SERVER); $objectManager = $bootstrap->getObjectManager(); $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); $customerSession = $objectManager->get('Magento\Customer\Model\Session'); if($customerSession->isLoggedIn()) { $customerid= $customerSession->getCustomer()->getId(); $getnumber=$customerSession->getCustomer()->getMobilenumber(); }else{ $customerid=""; } ?> <div class="update_mob"><div class="update_mob_text"><div id="ajaxlogin-login-otp-window" class="login-window account-login"><div class="loginotpmobileget"><div class="loginotpmobbtnerror error1" id="loginotpmobbtnerror"><span class=""><?php echo __("Please Enter Valid Mobile.");?></span></div><div class="loginsendotperror error1" id="loginsendotperror"><span><?php echo __("Mobile Number Doesn't Exist");?></span></div><div class="updatepasssuccess success" id="updatepasssuccess"><span ><?php echo __("Password has been Updated Successfully.");?></span></div><div class="sendemail success" id="sendemail_success"></div><div class="checkloginotperror error1" id="checkloginotperror"><span><?php echo __("OTP Not Verified.");?></span></div><div class="emptyotp error1" id="emptyotp"><span><?php echo __("Please enter otp");?></span></div><div class="otp-content" style="width: auto;"><input type="text" value="" id="loginotpmob" placeholder="<?php echo __('Mobile Number*') ?>" maxlength="12"/><input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/sentotpbyreg"); ?>" class="loginotp-otp-url"/><input type="hidden" value="" id="countryreg" name="countryreg" /><span id="valid-msg"><?php echo __('Valid') ?></span> <span id="login-mob-error-msg" ></span></div><div class="notice" id="notice" style="width: auto; margin: 0px !important;">Mobile No. Without Country Code i.e 9898989898</div><div class="model-bottom"><div class="submitbtnajax"><input type="button" class="loginotpmobbtn mobbtn" value="<?php echo __('Send Otp') ?>" /></div><div class="progress-indicator"><span class="please-wait" id="login-sms-please-wait"><img src="<?php echo $block->getViewFileUrl('Magecomp_Mobilelogin::images/ajax-loader.gif'); ?>" class="v-middle" alt=""/></span></div></div></div><div class="loginotpverify" id="loginotpverify"><div class="info" style="width: auto;"><span class="title"><?php echo __('Enter One Time Password') ?></span> <p><?php echo __('One Time Password (OTP) has been sent to your mobile,please enter the same here to login.') ?></p></div><div class="otp-content" style="width: auto;"><input type="password" name="logintotp" value="" class="otp" id="logintotp" placeholder="<?php echo __('OTP') ?>" maxlength="<?php echo $block->getOtpStringlenght() ?>"/><!-- <input type="hidden" value="<?php ?>" class="loginotp-verify-url" /> --><!-- <input type="text" maxlength="12" value="<?php ?>" class="updatemobnumber"/> --><input type="hidden" value="2" class="process" /><input type="hidden" value="<?php echo $customerid;?>" class="userId" /><input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/ajaxcheckregotp"); ?>" class="url" /><span><?php echo __("You will get all the sms on this number"); ?></span> <!-- <input type="hidden" value="<?php ?>" class="customeraccount" /> --></div><div class="model-bottom"><div class="submitbtnajax" style="width: auto;"><input type="button" class="loginverifyotp mobbtn" value="<?php echo __("VERIFY AND UPdate");?>" /></div><div class="progress-indicator"><span class="please-wait" id="login-verify-please-wait"><img src="<?php echo $block->getViewFileUrl('Magecomp_Mobilelogin::images/ajax-loader.gif'); ?>" class="v-middle" alt=""/></span></div></div></div></div></div><!-- <div class="update_mob_btn"><input type="button" value="Update Mobile Number" class="updatemobbtn action primary"/><img class="sms-request-load" src="<?php ?>" alt="Please Wait..." id="updatemobile_img"/></div> --></div><style type="text/css"> .model-bottom .submitbtnajax { margin: 0 auto; padding-bottom: 35px; text-align: justify; }</style><script>
    var input = document.querySelector("#mobileget"),
    errorMsg = document.querySelector("#reg-mob-error-msg"),
    validMsg = document.querySelector("#valid-msg");

    
    var errorMap = [ "Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    
    var iti = window.intlTelInput(input, {
        utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Mobilelogin::js/utils.js'); ?>"
    });

    require(['jquery', 'jquery/ui','mage/mage','mage/validation'], function($){
        jQuery.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
            countryCode = (resp && resp.country) ? resp.country : "kw";
            iti.setCountry('kw');
        });
    });

    var reset = function() {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
    };

    
    input.addEventListener('blur', function() {
        reset();
        if (input.value.trim()) {
            if (iti.isValidNumber()) {
            } else {
                var errorCode = iti.getValidationError();
                errorMsg.innerHTML = errorMap[errorCode];
                
            }
        }
    });</script>