<div class="all-template-content">
    <?php for($i=1;$i<=10;$i++){ ?>
        <div class="template-item">
                <h2><?php echo __('Template ').$i ?></h2>
                <img src="<?php echo $this->getViewFileUrl('Magecomp_Mobilelogin::images/'.$i.'.png'); ?>" />
        </div>
    <?php } ?>
</div>
