<?php /** * Copyright © Magefan (support@magefan.com). All rights reserved. * See LICENSE.txt for license details (http://opensource.org/licenses/osl-3.0.php). * * Glory to Ukraine! Glory to the heroes! */ ?> <?php /** * Blog post list template * * @var $block \Magefan\Blog\Block\Post\PostList */ ?> <?php $_postCollection = $block->getPostCollection(); ?> <?php if (!$_postCollection->count()): ?> <div class="message info empty"><div><?php echo __('We can\'t find posts matching the selection.') ?></div></div><?php else: ?> <?php echo $block->getAdditionalHtml() ?> <div class="post-list-wrapper"><?php $iterator = 1; ?> <div class="row"><?php foreach ($_postCollection as $_post): ?> <?php echo $block->getPostHtml($_post) ?> <?php endforeach; ?> <!--<li class="hidden"><script type="text/javascript">
                    if (window.addthis) {
                        addthis.toolbox('.addthis_toolbox');
                    }</script></li>--></div></div><?php echo $block->getToolbarHtml() ?> <?php ?> <?php endif; ?>