<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ ?> <?php /** @var $block \Magento\Checkout\Block\Cart\Shipping */ ?> <div id="block-shipping" class="block shipping" data-mage-init='{"collapsible":{"openedState": "opened", "saveState": true, "animate": {"duration": 300}}}' ><div class="title" data-role="title"><strong id="block-shipping-heading" role="heading" aria-level="2"><?= $block->getQuote()->isVirtual() ? $block->escapeHtml(__('Estimate Tax')) : $block->escapeHtml(__('Estimate Shipping and Tax')) ?></strong></div><div id="block-summary" data-bind="scope:'block-summary'" class="content" data-role="content" aria-labelledby="block-shipping-heading" ><!-- ko template: getTemplate() --><!-- /ko --><script type="text/x-magento-init">
            {
                "#block-summary": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                }
            }</script><script>
            window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
            window.customerData = window.checkoutConfig.customerData;
            window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
            require([
                'mage/url',
                'Magento_Ui/js/block-loader'
            ], function(url, blockLoader) {
                blockLoader("#");
                return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
            })</script></div></div>