<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h3>Hi</h3>
            <p>Your EMail ID/Mobile Number was just used to sign in from {{var browser}}. Details are as below:</p>
            <p>
            	IP: {{var ip}}
            </p>
            <p>
            	Time: {{var datetime}}
            </p>
        </td>
    </tr>
</table>