<?php /** * MageSpecialist * * NOTICE OF LICENSE * * This source file is subject to the Open Software License (OSL 3.0) * that is bundled with this package in the file LICENSE.txt. * It is also available through the world-wide-web at this URL: * http://opensource.org/licenses/osl-3.0.php * If you did not receive a copy of the license and are unable to * obtain it through the world-wide-web, please send an email * to info@magespecialist.it so we can send you a copy immediately. * * @category MSP * @package MSP_ReCaptcha * @copyright Copyright (c) 2017 Skeeller srl (http://www.magespecialist.it) * @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0) */ /** @var $block MSP\ReCaptcha\Block\Frontend\ReCaptcha */ ?> <?php $mbHelper = $this->helper('MageBig\MbFrame\Helper\Data'); $enabled = $mbHelper->getConfig('msp_securitysuite_recaptcha/frontend/enabled'); if ($enabled) : ?> <div class="field-recaptcha" id="<?= /* @noEscape */ $block->getRecaptchaId() ?>-container" data-bind="scope:'<?= /* @noEscape */ $block->getRecaptchaId() ?>'" ><!-- ko template: getTemplate() --><!-- /ko --></div><script type="text/x-magento-init">
{
    "#<?= /* @noEscape */ $block->getRecaptchaId() ?>-container": {
        "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
    }
}</script><?php endif; ?>