<!-- ko if: isEnable() -->
<!-- ko if: getInitialCollapseState() == 2 -->
<div class="payment-option opc-payment-additional comment last">
    <div class="payment-option-title field choice">
        <span data-bind="i18n: getCheckouttitle()"></span>
    </div>
    <div class="payment-option-content">
        <!-- ko template: 'Magecomp_Ordercomment/checkout/form-content' --><!-- /ko -->
    </div>
</div>
<!-- /ko -->

<!-- ko if: getInitialCollapseState() != 2 -->
<div class="payment-option _collapsible opc-payment-additional comment last"
     data-bind="mageInit: {'collapsible':{'openedState': '_active', 'active': isInitialStateOpened()}}">

    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" role="heading" aria-level="2" data-bind="i18n: getCheckouttitle()"></span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko template: 'Magecomp_Ordercomment/checkout/form-content' --><!-- /ko -->
    </div>
</div>
<!-- /ko -->
<!-- /ko -->
