<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var \Magento\Wishlist\Block\Customer\Wishlist $block */ ?> <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow()) : ?> <!--<div class="toolbar wishlist-toolbar"><?/*= $block->getChildHtml('wishlist_item_pager'); */?></div>--><?= ($block->getChildHtml('wishlist.rss.link')) ?> <form class="form-wishlist-items" id="wishlist-view-form" data-mage-init='{"wishlist":{ "addToCartUrl":<?= /* @noEscape */ $block->getItemAddToCartParams("%item%") ?>, "addAllToCartUrl":<?= /* @noEscape */ $block->getAddAllToCartParams() ?>, "commentString":""}, "validation": {}}' action="<?= $block->escapeUrl($block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()])) ?>" method="post"><?= $block->getChildHtml('top') ?> <?php if ($block->hasWishlistItems()) : ?> <?= $block->getBlockHtml('formkey') ?> <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?> <?= $block->getChildHtml('items') ?> <?php else : ?> <div class="message info empty"><span><?= $block->escapeHtml(__('You have no items in your wish list.')) ?></span></div><?php endif ?> <?= $block->getChildHtml('bottom') ?> <div class="actions-toolbar"><div class="primary"><?= $block->getChildHtml('control_buttons') ?></div></div></form><script id="form-tmpl" type="text/x-magento-template">
      <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
          <% if (data.qty) { %>
          <input name="qty" value="<%- data.qty %>">
          <% } %>

          <% if (data.item) { %>
          <input name="item" value="<%- data.item %>">
          <% } %>

          <% if (data.entity) { %>
          <input name="entity" value="<%- data.entity %>">
          <% } %></form></script><div class="toolbar wishlist-toolbar"><br><?= $block->getChildHtml('wishlist_item_pager'); ?></div><br> <?php endif ?>