<span class="product-image-container" data-bind="style: {width: width + 'px'}">
    <span class="product-image-wrapper img-lazy-wrap"  data-bind="style: {'padding-bottom': height/width*100 + '%'}">
        <img class="product-image-photo media-lazy lazyload" data-bind="attr: {'data-src': src, alt: alt}, style: {width: 'auto', height: 'auto'}" />
    </span>
</span>
