<?php
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<div class="block block-new-customer">
    <?= $block->getChildHtml('form_fields_before') ?>
    <?php /* Extensions placeholder */ ?>
    <?= $block->getChildHtml('customer.form.register.extra') ?>
    <div class="block-content">
        <form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
        <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
        <h2 class="block-title">
            <strong><?= $block->escapeHtml(__('New Customers')) ?></strong>
        </h2>
        <p><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p>
        <fieldset class="fieldset create info">
            <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
            <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
            <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
            <?php if ($block->isNewsletterEnabled()): ?>
                <div class="field choice newsletter">
                    <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Sign Up for Newsletter')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                    <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Sign Up for Newsletter')) ?></span></label>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php endif ?>

            <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
            <?php if ($_dob->isEnabled()): ?>
                <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
            <?php endif ?>

            <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
            <?php endif ?>

            <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
            <?php if ($_gender->isEnabled()): ?>
                <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
            <?php endif ?>
        </fieldset>
        <?php if ($block->getShowAddressFields()): ?>
            <fieldset class="fieldset address">
                <input type="hidden" name="create_address" value="1" />

                <?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
                <?php if ($_company->isEnabled()): ?>
                    <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
                <?php endif ?>

                <?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
                <?php if ($_telephone->isEnabled()): ?>
                    <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
                <?php endif ?>

                <?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
                <?php if ($_fax->isEnabled()): ?>
                    <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
                <?php endif ?>
                <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
                <div class="field street required">
                    <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                    <div class="control">
                        <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                        <div class="nested">
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 2, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i <= $_n; $_i++): ?>
                                <div class="field additional">
                                    <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                        <span><?= $block->escapeHtml(__('Address')) ?></span>
                                    </label>
                                    <div class="control">
                                        <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                    </div>
                                </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>

                <div class="field required">
                    <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                    <div class="control">
                        <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>" id="city">
                    </div>
                </div>

                <div class="field region required">
                    <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                    <div class="control">
                        <select id="region_id" name="region_id" title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>" class="validate-select" style="display:none;">
                            <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                        </select>
                        <input type="text" id="region" name="region" value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>" style="display:none;">
                    </div>
                </div>

                <div class="field zip required">
                    <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                    <div class="control">
                        <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                    </div>
                </div>

                <div class="field country required">
                    <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                    <div class="control">
                        <?= $block->getCountryHtmlSelect() ?>
                    </div>
                </div>
                <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                <?php if ($addressAttributes): ?>
                    <?php $addressAttributes->setEntityType('customer_address'); ?>
                    <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                    <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                    <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
                <?php endif;?>
                <input type="hidden" name="default_billing" value="1">
                <input type="hidden" name="default_shipping" value="1">
            </fieldset>

        <?php endif; ?>
        <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field required">
                <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    <input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/emailsendotp"); ?>" class="url" />
                </div>
                <div class="blankerror error1" id="blankerror">
                        <span style="color: #ee0909;"><?php echo __("Required fields cannot be empty");?></span>
                </div>
                <div class="checkverifysuccess">
                        <span style="color: #30b201;"><?php echo __("This email already exist with another Account.");?></span>
                </div>
            </div>
            <div class="field password required">
                <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password" id="password"
                           title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                           class="input-text"
                           data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?= $block->escapeHtml(__('Password Strength')) ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                <?= $block->escapeHtml(__('No Password')) ?>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="field confirmation required">
                <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                </div>
            </div>
            <?= $block->getChildHtml('form_additional_info') ?>
        </fieldset>

        <div class="update_mob_btnes">
            <input type="button" value="Verify Email" style="margin-bottom: 20px;width: 100%;height: 53px;" class="updatemobbtnes action primary"/>
            <img class="sms-request-load" src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="Please Wait..." id="updatemobile_img"/>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Create an Account')) ?>"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
            </div>
        </div>
    </form>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close1">&times;</span>

    <div class="modal-inner-wrap" data-role="focusable-scope">
        <header class="modal-header">
            <h1 id="modal-title-16" class="modal-title" data-role="title"><?php echo __("Email Verification");?></h1>
            <div class="otpsuccess error1">
                        <span style="color: #30b201;"><?php echo __("Verification Code has been sent your Email Id.");?></span>
            </div>
        </header>
        <div id="modal-content-16" class="modal-content1" data-role="content">
            <div class="otpPopupContainer">
                <div class="otp_popup">
                    <div class="otp_expire_message"><?php echo __("Your OTP will expire soon.");?></div>
                    <div class="otp_response success"><?php echo __("Please Enter the OTP sent to your registered Email ID.");?></div>
                    <div class="otp_action">
                        <input name="chatbox" type="hidden" value="" id="chatbox">
                        <input name="otp" type="password" id="user_otp" class="user_otp" maxlength="4" placeholder="Enter your otp" autocomplete="off">
                        <input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/emailverifyotp"); ?>" class="urls" />

                        <input type="button" value="Submit" class="verifyotp action primary"/>
                        <img class="sms-request-load1" src="<?php echo $block->getViewFileUrl('images/loader-1.gif'); ?>" alt="Please Wait..." id="updatemobile_img"/>
                    </div>

                    <div class="veriyotp success">
                        <span style="color: #30b201;"><?php echo __("Email has been verify successfully.");?></span>
                    </div>

                    <div class="otpempty error1">
                        <span style="color: #ee0909;"><?php echo __("Please Enter OTP.");?></span>
                    </div>

                    <div class="checkotperror error1">
                        <span style="color: #ee0909;"><?php echo __("Incorrect OTP, Please Verify Again.");?></span>
                    </div>

                    <div class="otpNotValid error1" id="otpNotValid">
                        <span style="color: #ee0909;"><?php echo __("Please Enter Valid OTP");?></span>
                    </div>

                    <div class="validate_error display-none"></div>
                </div>
            </div>
        </div>
        
        <footer class="modal-footer">
            <input type="button" value="Resend OTP" class="resnedotp action primary"/>
            <div class="resendotp_message"><?php echo __("Otp has been send on your registered Email ID.");?></div>
        </footer>
        
    </div>

  </div>

</div>

<style type="text/css">
    .action.submit.primary{
        display: none;
    }

    .blankerror, .checkotperror, .otpNotValid, .otpempty, .otpsuccess, .checkverifysuccess, .veriyotp{
        display: none;
    }

    .resendotp_message{
        display: none;
        color: #30b201;
    }

    #modal-title-16 {
        font-size: 30px;
    }

    .modal-footer {
        padding-top: 20px;
        text-align: -moz-center;
    }

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 42%;
      text-align: center;
    }

    .modal-content1 {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 100%;
      text-align: center;
    }

    /* The Close Button */
    .close1 {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close1:hover,
    .close1:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .modal-popup .modal-inner-wrap {
        margin: 5rem auto;
        width: 75%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
        -webkit-transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
    }
.modal-popup .modal-inner-wrap {
    background-color: #fff;
    box-shadow: 0 0 12px 2px rgba(0,0,0,.35);
    opacity: 1;
    pointer-events: auto;
}
.modal-popup .modal-header {
    padding-bottom: 1.2rem;
    padding-top: 3rem;
}

.modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {
    padding-left: 3rem;
    padding-right: 3rem;
}
.modal-popup .modal-title {
    border-bottom: 1px solid #c1c1c1;
    font-weight: 300;
    padding-bottom: 10px;
    font-size: 26px;
    margin-bottom: 0;
    min-height: 1em;
    word-wrap: break-word;
}
/*.modal-content {
    margin: 20px;
}*/
.otp_popup > :not(:empty) {
    margin: 2rem auto;
}

.otp_modal_popup .otp_expire_message {
    color: #e82e2e;
}
.otp_popup > :not(:empty) {
    margin: 2rem auto;
}
.otp_modal_popup .success {
    color: #006400;
    font-size: 20px;
    font-weight: 700;
}
.otp_action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.otp_response.success {
    color: #000;
    font-weight: 100;
}
input.user_otp, input.user_otp_checkout {
    height: 25px;
    margin-right: 1rem;
}
.modal-popup .action-close {
    padding: 20px;
}
.modal-popup .action-close, .modal-slide .action-close {
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
}
.otp_modal_popup footer.modal-footer, .paypalOtpModal footer.modal-footer, .otpModalCustomer footer.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.modal-popup .action-close::before, .modal-slide .action-close::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 14px;
    color: #757575;
    content: '\e616';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

</style>

<!---------------- Send otp for Email verifcation---------------------->

<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
            //updateMobile Number
            $(".updatemobbtnes").click(function (e) {
                $(".sms-request-load").css('display','block');
                var ajax_urls = $(".url").val();
                var email = $("#email_address").val();

                if(email=='') {
                    $(".blankerror").css('display','block');
                    $(".sms-request-load").css('display','none');
                    return;
                }

                $(this).css('display','block');
                $.ajax({
                    url: ajax_urls,
                    type: 'GET',
                    data:{email:email},
                    async:false,
                    success: function (data) {
                        if(data.error=="1"){
                            $("#myModal").css('display','block');
                            $(".blankerror").css('display','none');
                            $(".sms-request-load").css('display','none');
                            $(".otpsuccess").css('display','block');
                            setTimeout(function() { $(".otpsuccess").hide(); }, 6000);
                            $("#chatbox").val(email);
                        }else{

                            $("#myModal").css('display','none');
                            $(".checkverifysuccess").css('display','block');
                            setTimeout(function() { $(".checkverifysuccess").hide(); }, 6000);
                            $(".sms-request-load").css('display','none');
                        }
                        if(data == 1){
                            location.reload();
                        }
                    },
                    error: function (data) {
                        $(".sms-request-load").css('display','none');
                        $(this).css('display','block');
                    }

                });

            });
    });
</script>

<!---------------- Resend otp for email verification---------------------->

<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
            //updateMobile Number
            $(".resnedotp").click(function (e) {
                $(".sms-request-load2").css('display','block');
                var ajax_urls = $(".url").val();
                var email = $("#email_address").val();

                if(email=='') {
                    alert('Please enter email address.');
                    return;
                }

                $(this).css('display','block');
                $.ajax({
                    url: ajax_urls,
                    type: 'GET',
                    data:{email:email},
                    async:false,
                    success: function (data) {
                        $(".resendotp_message").css('display','block');
                        setTimeout(function() { $(".resendotp_message").hide(); }, 6000);

                                      
                        if(data == 1){
                            location.reload();
                        }
                    },
                    error: function (data) {
                        $(this).css('display','block');
                    }

                });

            });
    });
</script>

<!---------------- Verify otp and check email verification---------------------->

<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
            //updateMobile Number
            $(".verifyotp").click(function (e) {
                $(".sms-request-load1").css('display','block');
                var ajax_urls = $(".urls").val();
                var user_otp = $("#user_otp").val();
                var email = $("#chatbox").val();

                if(user_otp=='') {
                    $(".otpempty").css('display','block');
                    $(".sms-request-load1").css('display','none');
                    return;
                }

                if(user_otp.length!='4'){

                    $(".otpNotValid").css('display','block');
                    setTimeout(function() { $(".otpNotValid").hide(); }, 3000);
                    $(".sms-request-load1").css('display','none');
                    return;
                }

                $(this).css('display','block');
                $.ajax({
                    url: ajax_urls,
                    type: 'GET',
                    data:{email:email,user_otp:user_otp},
                    async:false,
                    success: function (data) {
                        if(data.error=="1"){
                            $("#myModal").css('display','block');
                            setTimeout(function() { $("#myModal").hide(); }, 3000);
                            $(".otpNotValid").css('display','none');
                            $(".otpempty").css('display','none');
                            $(".resendotp_message").css('display','none');
                            $(".resnedotp").css('display','none');
                            $(".veriyotp").css('display','block');
                            $(".update_mob_btnes").css('display','none');
                            setTimeout(function() { $(".veriyotp").hide(); }, 6000);
                            $(".action.submit.primary").css('display','block');
                        }else{
                            $("#myModal").css('display','block');
                            $(".otpNotValid").css('display','block');
                            $(".otpempty").css('display','none');
                            $(".resendotp_message").css('display','none');

                        }
                        if(data == 1){
                            location.reload();
                        }
                    },
                    error: function (data) {
                        $(".sms-request-load1").css('display','none');
                        $(this).css('display','block');
                    }

                });

            });
    });
</script>

<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
        $('.close1').click(function(){
            $('#myModal').css('display','none');
            $(".sms-request-load").css('display','none');
        });
    });
</script>

<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');
});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        },
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "form-validate"
            }
        }
    }
</script>
